.contactItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #505050;
}

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
