.contactItem {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    border: 1px solid #505050;
    padding-left: 10px;
}

.contactName {
    display: flex;
    align-items: center;
}

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}
