.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    min-height: 70vh;
    padding: 20px;
    border: 3px solid #505050;
    border-radius: 5px;
    background-color: #fff;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #505050;
}

.input {
    display: flex;
    background-color: #e1e1e1;
    width: 90%;
    padding: 10px;
    border: none;
}

.input:focus,
.input:active {
    outline: none;
}

.buttonWrapper {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.deleteButton {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e1e1e1;
}

.formButton {
    padding: 10px 20px;
    border: 2px solid #505050;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e1e1e1;
}
