#root {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 2rem 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #b8b8b8;
    border: 3px solid #505050;
    border-top: none;
}
